<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group site-main" style="padding-top:3rem;padding-bottom:3rem">
	<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"margin":{"bottom":"2rem"}}}} /-->

	<!-- wp:group {"style":{"spacing":{"padding":{"left":"1rem","right":"1rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-left:1rem;padding-right:1rem">
		<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"2.5rem","fontWeight":"800"},"spacing":{"margin":{"bottom":"1.5rem"}}}} /-->

		<!-- wp:post-content {"layout":{"type":"default"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

